* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #dae5e8;
}
a {
    color: #dae5e8;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e3237;
    height: 6vh;
}
.barra-nav{
    list-style: none;
    display: flex;
}
.barra-nav li {
    letter-spacing: 0.188em;
    margin-left: 1.875em;
}
footer.rodape-fixo{
    display: flex;
    justify-content: center;
    height: 8vh;
    align-items: center;
    background-color: #48453c; 
    color: #dae5e8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 0.063em solid #333;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}
footer a{
    margin: 0.2em;
}
main .slogan{
    color: #ffffff;
    text-shadow: #333 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2em;
    background-image: url(img/background-index.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0;
}